:root {
  font-family: "Poppins", sans-serif;
  line-height: 1.5;
  font-weight: 400;
  --aquaBlue: #00C9C8;
  --darkBlue: #2F2E73;
  --lightGray: #F9FBFF;
  /* Sidebar Background */
  --white: #FFFFFF;
  --backColor: #EAF3FB;
  /* Background Color */
  --blue: #2F2E73;
  --softGray: A0A3BD;


  /*  */
  /*  */
  --: #;
}

.poppins {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.dm-sans {
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}


body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}