:root {
    font-family: "Poppins", sans-serif;
    line-height: 1.5;
    font-weight: 400;

    /* Color Variables */
    --aquaBlue: #00C9C8;
    --darkBlue: #2F2E73;
    /* Sidebar Background */
    --lightGray: #F9FBFF;
    --white: #FFFFFF;
    /* Background Color */
    --backColor: #EAF3FB;
    --blue: #2F2E73;
    --softGray: #A0A3BD;
}

/* Font Utility Classes */
.poppins {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.inter {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

.dm-sans {
    font-family: "DM Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

/* Reset and Global Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    background-color: var(--backColor);
    overflow: hidden;
}

.container {
    width: 100%;
    max-width: 1440px;
    padding: 0 1rem;
    margin: 0 auto;
}

.sideBar {
    max-width: 300px;
    border: 1px solid red;
}

.margin-top {
    margin-top: 20px;
}

.flex {
    display: flex;
    gap: 1rem;
}

.flex-grow {
    flex-grow: 1;
}

/* Medium screens (e.g., tablets) */
@media (max-width: 1024px) {
    .container {
        padding: 0 1.5rem;
    }
}

/* Small screens (e.g., phones) */
@media (max-width: 768px) {
    .container {
        padding: 0 1rem;
    }
}